.ulRoute {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.ulRoute > li {
  flex: auto;
  background-color: rgba(138, 199, 255, 0.9);
  color: #fff;
  border-radius: 1.5em;
  padding: 1em;
  text-align: center;
}
.transformed{
  font-size:xx-large;

}
.transformed:hover {
   color: red;
  animation: skew 0.2s infinite;
  transform: skew(30deg);
  animation-direction: alternate;
 
}
@keyframes skew {
  0% {
    transform: skewY(10deg);
  }
  0% {
      transform: skewY(0deg);
    }
  100% {
    transform: skewY(-10deg);
  }
}